* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.container {
  position: relative;
  padding-left: 6.66%;
  padding-right: 7.3%;
  @media (min-width: 768px) {
    padding-left: calc(80 / 940 * 100%);
    padding-right: calc(92 / 940 * 100%);
  }
  @media (min-width: 1200px) {
    padding-left: calc(215 / 1600 * 100%);
    padding-right: calc(215 / 1600 * 100%);
  }
}
.our-post {
  margin-top: calc(38 / 373 * 100%);
  @media (min-width: 768px) {
    margin-top: calc(56 / 940 * 100%);
  }
  @media (min-width: 1200px) {
    margin-top: calc(66 / 1600 * 100%);
  }
  &__container {
    @media (min-width: 1200px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  &__titel {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: #4e4e4e;
    margin-bottom: calc(23 / 373 * 100%);
    @media (min-width: 768px) {
      margin-bottom: calc(24 / 940 * 100%);
    }
    @media (min-width: 1200px) {
      margin-bottom: calc(24 / 1600 * 100%);
    }

    &--min {
      margin-bottom: calc(13 / 373 * 100%);
      &:last-child {
        display: none;
        @media (min-width: 768px) {
          display: block;
        }
      }
    }
    &--contacts {
      color: #fefefe;
      text-align: center;
      padding-top: 8px;
      margin-bottom: 8px;
    }
  }
  &__item {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 21% 50% 20%;
      grid-column-gap: 23px;
      padding-bottom: 32px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 25px;
    }
  }
  &__item:nth-child(4) {
    display: none;
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: 21% 50% 24%;
      grid-column-gap: 23px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: 1fr 2fr;
      grid-column-gap: 25px;
    }
  }

  &__img {
    width: 50%;
    height: 50%;
    margin-bottom: calc(11 / 373 * 100%);
    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
  &__header {
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #4e4e4e;
  }
  &__short {
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7c7c7c;
    margin-bottom: calc(28.5 / 373 * 100%);
    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5c5c5c;
    display: none;
    @media (min-width: 768px) {
      display: block;
    }
  }
}
.instagram-shot {
  padding-left: 6.66%;
  padding-right: 7.3%;
  @media (min-width: 768px) {
    padding: 47px 0 50px 0;
    background-color: #f7f7f7;
    padding-left: calc(80 / 940 * 100%);
    padding-right: calc(92 / 940 * 100%);
  }
  @media (min-width: 1200px) {
    padding-left: calc(215 / 1600 * 100%);
    padding-right: calc(215 / 1600 * 100%);
  }
  &__wraper {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }
  }
  &__list {
    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 9px;
    }
    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 10px;
    }
  }
  &__item {
    display: none;
    &:first-child {
      display: block;
    }
    @media (min-width: 768px) {
      display: block;
      &:last-child {
        display: none;
      }
    }
    @media (min-width: 1200px) {
      &:last-child {
        display: block;
      }
    }
  }
  &__img {
    width: calc(301 / 373 * 100%);
    height: calc(301 / 373 * 100%);
    @media (min-width: 768px) {
      width: 100%;
      height: 100%;
    }
  }
}
