$mainColor: #72727e;
$blueColor: #446df6;
$titleColor: #4e4e4e;
$subtitleColor: #7c7c7c;
$breakpoints: (
  "phone": 400px,
  "phone-wide": 480px,
  "phablet": 560px,
  "tablet-small": 640px,
  "tablet": 768px,
  "tablet-wide": 1024px,
  "desktop": 1248px,
  "desktop-wide": 1440px,
);


