.container--header {
  position: relative;
  // @media (min-width: 768px) {
  //   display: flex;
  //   flex-direction: row;
  // }
}
.burger-button {
  background-image: url("/src/img/header/menu-button.svg");
  background-size: 44px;
  width: 44px;
  height: 37px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  position: absolute;
  top: 23px;
  right: 7.57%;
  &--active {
    background-image: url(/src/img/header/menu-button-close.svg);
  }
  @media (min-width: 768px) {
    display: none;
  }
}
.header-nav {
  display: none;
  &--active {
    display: block;
  }
  @media (min-width: 768px) {
    display: block;
    padding-top: 30px;
  }
  &__list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: 172px;
    position: absolute;
    right: 7.1%;
    top: 60px;
    background-color: #f5f5f5;
    margin: 0;
    @media (min-width: 768px) {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 81%;
      margin: 51px auto 0 auto;
      position: static;
      background-color: transparent;
    }
  }
  &__item {
    margin: 4px 0;
    &:hover {
      background-color: #e5e5e5;
    }
  }
  &__link {
    text-transform: uppercase;
    list-style: none;
    color: $titleColor;
    text-decoration: none;
    font-size: 11px;
    line-height: 22px;
    &--active {
      color: #57a4a4;
    }
  }
}
