.footer {
  background-color: #000000;
  padding: 38px 0 47px 0;
  margin-top: 42px;
  @media (min-width: 768px) {
    padding: 56px 0;
    margin-top: 0;
  }
  @media (min-width: 1200px) {
    padding: 66px 0 70px 0;
    margin-top: 0;
  }
}
.our-contacts {
  &__text {
    line-height: 20px;
    text-align: center;
    color: #b9b9b9;
    margin-left: calc(35 / 373 * 100%);
    margin-right: calc(35 / 373 * 100%);
  }
  &__list {
    display: flex;
    justify-content: center;
    padding-top: calc(26 / 373 * 100%);
    padding-bottom: calc(24 / 373 * 100%);
    @media (min-width: 768px) {
      padding-top: calc(37 / 940 * 100%);
      padding-bottom: calc(34 / 940 * 100%);
    }
    @media (min-width: 1200px) {
      padding-top: calc(37 / 1600 * 100%);
      padding-bottom: calc(34 / 1600 * 100%);
      margin-top: 0;
    }
  }
  &__inclde {
    text-align: center;
    @media (min-width: 768px) {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: center;
    }
    & li {
      margin-top: 7px;
      @media (min-width: 768px) {
        padding-left: 10px;
      }
      &:first-child {
        min-width: 180 px;
      }
    }
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    color: #b9b9b9;
    &--adres {
      margin: 0;
    }
  }
  &__phone {
    margin: 0 auto;
    color: #b9b9b9;
  }
  &__mail {
    color: #b9b9b9;
  }
}
